.container {
    position: relative;
    .row {
        position: relative;
    }
    .txt {
        padding-bottom: 20px;
    }
}
nav {
    background-color: #fff;
}

section {
    padding: 32px 0;
    position: relative;
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
        font-family: $font-thin;
    }
    h1, h2, h3 {
        margin-bottom: 20px;
    }
    h2, h3, h4, h5 h6 {
        font-family: $font-medium;
        letter-spacing: 2px;
    }
    p {
        font-family: $font-thin;
        line-height: 21px;
        font-size: 20px;
        line-height: 30px;
    }
    strong {
        font-family: $font-medium;
    }
}

button {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    font-size: 18px;    
    text-transform: uppercase;
    width: 100%;
    border: 0;
    background-color: #333;
    color: white;
}

h2, h3, h4, h5, h6 {
    &.txt-green {
        color: $theme-green;
    }
}
.txt-white {
    color: $white;
    p, h2, h3, h4 ,h5, h6 {
        color: $white;
    }
}
ul {
    display: block;
    li {
        display: block;
        a {
            display: block;
        }
    }
}
.header {
    font-family: $font-regular;
    .main-nav {
        color: white;
        font-family: $font-regular;
        ul {
            margin: 0; 
            padding: 0; 
        }
        li {
            list-style-type: none;
            a {
                font-size: 21px;
                line-height: 82px;
                text-decoration: none;
                color: $white;
                width: 100%;
                border-top: 1px solid #9cce59;
                border-bottom: 1px solid #abd572;
                &.active {
                    background-color: #1cbbb4;
                }
                &:hover {
                    background-color: #333;
                }
            }
        }
    }

    p.contact-us {
        line-height: 82px;
        background-color: $white;
        color: $theme-green;
        font-size: 18px;
    }
}

.txt-center {
    &[class*="col-"] {
        text-align: center;
    }
    [class*="col-"] {
        text-align: center;
    }
}