//fonts
@font-face {
    font-family: "montserrat-black";
    src: url("../fonts/Montserrat-Black.woff?") format("woff");
}
$font-black: "montserrat-black";
@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/Montserrat-Bold.woff?") format("woff");
}
$font-bold: "montserrat-bold";
@font-face {
    font-family: "montserrat-extrabold";
    src: url("../fonts/Montserrat-ExtraBold.woff?") format("woff");
}
$font-extrabold: "montserrat-extrabold";
@font-face {
    font-family: "montserrat-extralight";
    src: url("../fonts/Montserrat-ExtraLight.woff?") format("woff");
}
$font-extralight: "montserrat-extralight";
@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/Montserrat-Light.woff?") format("woff");
    $font-extralight: "montserrat-light";
}
$font-extrabold: "montserrat-extrabold";
@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/Montserrat-Medium.woff?") format("woff");
}
$font-medium: "montserrat-medium";
@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff?") format("woff");
}
$font-regular: "montserrat-regular";
@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff?") format("woff");
}
$font-semibold: "montserrat-semibold";
@font-face {
    font-family: "montserrat-thin";
    src: url("../fonts/Montserrat-Thin.woff?") format("woff");
}
$font-thin: "montserrat-thin";
html {
    font-family: $font-regular;
}