.carousel {
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        li {

            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            list-style-type: none;
            &.active {
                position: relative;
            }
            img {
                width: 200px;
                height: 300px;
            }
        }
    }
    .pagination {
        border: 1px solid #333;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 50px;
        .dot {
            height: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #333;
            border-radius: 20px;
            &.active {
                background-color: #ccc;
            }
        }
    }
}