.hideme {
    opacity:0;
}
h2 {
	font-size: 3rem;
}

.banner {
	background-color: #4a86e8;
	padding-top: 100px;
	padding-bottom:100px;
	opacity: 1!important;

	.profile {
		border-radius: 360px;
	  	text-align: center;
	}
	.details {
		text-align: center;

		h1 {
			color: white;
			font-size: 40px;
		}
	}
	.contact {
		margin-top: 20px;
		p {
			color: white;
		}
		a {
			color: white;
			border-bottom: 1px solid;
		}
	}
}
.bio {
	color: white!important;
	font-size: 1.2rem;
	margin-top: 40px;

	.details {
		text-align: center;
		h1 {
			padding-bottom: 20px;
			color: white;
		}
	}
	.contact {
		color: white;
		margin-top: 20px;
		font-size: 1.6rem;

		@include media-breakpoint-up(md) {
			font-size: 1.2rem;
		}

		a {
			color: white;
		}
	}
}

.jobs {
	border-bottom: 1px solid #ccc;
	padding-bottom: 50px;

	p {
		font-size: 18px;
	}
	.row {
		margin-bottom: 40px;
	}
}

.tech {
	font-weight: bold;
}
.skills {
	padding-top: 50px;
	background-color: #4a86e8;

	p {
		color: white;
		font-weight: bold;
		margin-bottom: 20px;
		font-size: 22px;

		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
		&.label {
			font-size: 12px;
			font-weight: 300;
		}
	}
	h2 {
		color: white;
		padding-bottom: 20px;
	}
	h3 {
		color: white;
	}
}

.jobs {
	h2 {
		padding: 30px 0;
	}
}
.job {
	.place {
		font-weight: bold;
		color: #4a86e8;
		font-size: 2rem;
	}
	.title {
		color: #7b7b7b;
		font-weight: bold;
		font-size: 1.3rem;
	}
	.dates {
		font-weight: bold;
	}
	.websites {
		margin-top: 20px;
		margin-bottom: 20px;
		ul {
			margin: 0;
			padding: 0;

			li {
				display: block;
			}
		}
	}
}