.switcher-container {
	background-color: #333;
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	.switcher {
		width: 100%;
		height: 100%;
		display: block;
		.slide {
			width: 100%;
			background-color: #ccc;
			height: 100%;
			display: block;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			&.active {
				disiplay: block;
				positon:relative;
				z-index: 3;
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}