.switcher {
    display: block;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    .slide {
        border-bottom: 1px solid #333;
        width: 25%;
        background-color: #333;
        height: 20px;
        margin-bottom: 20px;
        position: absolute;
        top :0;
        transform: translateY(-50%);
        &.active {
            height: 25px;
            display: block;
            position: relative;
            background-color: #ccc;
            border-bottom: 1px solid #FFF;
        }
    }
  .pagination {
    background-color: #F00;
    display: flex;
    height: 50px;
    .slide-button {
      display: block;
      height: 20px;
      width: 20px;
      background-color: #333;
      margin-left: 20px;
      &.active {
        background-color: #fff;
      }
    }
  }
}