.switcher {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-height: 400px; }
  .switcher .switcher-container {
    background-color: #000;
    color: white;
    display: block;
    height: 100%;
    display: block;
    font-size: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); }
    .switcher .switcher-container .slide {
      width: 1000px;
      height: 400px;
      display: inline-block;
      background-color: #ccc;
      font-size: 12px; }
      .switcher .switcher-container .slide img {
        width: 1000px; }

.thumbs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000pz;
  margin: 0 auto; }

.pagination {
  width: 1000px;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 20px;
  transform: translateY(0); }
  .pagination .button-selector {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin-left: 20px; }
    .pagination .button-selector.active {
      background-color: #f00; }
